
body {
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #132;
    color: #4f8;
}
/* ----------------------------------------------------------------------------- */
div.v-stack {
    display: flex;
    flex-direction: column;
}
div.h-stack {
    display: flex;
    flex-direction: row;
    align-items: left;
}
div.v-align {
    align-items: flex-start; /* Align items by their top side */
}
/* ----------------------------------------------------------------------------- */
#popup {
    position: fixed;
    display: flex;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #0008;
    opacity: 0;
    transition: all 0.5s ease;
}
#popup.visible {
    visibility: visible;
    opacity: 1;
    transition: all 1s ease;
}
#popup-container {
    padding: 20px;    
    text-align: center;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px #fff;
    border: solid #4c6 2px;
    background-color: #132;
    border-radius: 10px;
}
#popup-content {
    margin: 20px;
}
/* ----------------------------------------------------------------------------- */
button {
    background-color: #132;
    border-width: 2px;
    border-radius: 10px;
    border-color: #4c6;
    color: #4c6;
    font-size: 15px;
    margin: 10px;
    padding: 10px 20px;
}
button:hover {
    border-color: #4f8;
    color: #4f8;
}
button.tab {
    background-color: #132;
    border-radius: 0px;
    border-width: 2px;
    margin: 1px;
    min-width: 85px;
    padding: 5px;
}
button.tab:hover {
    border-color: #4f8;
    color: #4f8;
}
button.panel-action {
    width: 50px;
    padding-left: 5px;
    padding-right: 5px;
}
/* ----------------------------------------------------------------------------- */
#button-pass {
    font-weight: bold;
    transition: all 0.2s ease;
}
#button-pass:hover {
    color: #000;
    background-color: #ff0;
    transition: all 0.2s ease;
    transform: scale(1.05);
}
#button-resign {
    font-weight: bold;
    transition: all 0.2s ease;
}
#button-resign:hover {
    color: #000;
    background-color: #f44;
    transition: all 0.2s ease;
    transform: scale(1.05);
}
/* ----------------------------------------------------------------------------- */
.bottom {
    margin-top: auto;
}
/* ----------------------------------------------------------------------------- */
div.tight {
    display: flex;
}

canvas {
    border: solid #4c6 3px;
    border-radius: 20px;
}
#control-panel {
    box-sizing: border-box;
    border: solid #4c6 3px;
    border-radius: 20px;
    height: 703px;
    margin-right: 20px;
    padding: 20px;
}
